* {
    margin: 0px;
    padding: 0px;
    /* border: 1px solid black; */
    background-color: gray;
}

body {
    /* background-color: ; */
}

img {
    height: 200px;
}

/* Photo by <a href="https://unsplash.com/@codioful?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Codioful (Formerly Gradienta)</a> on <a href="https://unsplash.com/photos/a-blurry-image-of-a-multicolored-background-gEZkP23pLZ4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   */

   /* Photo by <a href="https://unsplash.com/@codioful?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Codioful (Formerly Gradienta)</a> on <a href="https://unsplash.com/photos/purple-light-on-green-background-l7pbhh64CIk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
  