* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  /* background-color: gray; */
  /* border: 1px solid black; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212529;
}

header {
  width: 80%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  border-bottom: 1px solid lightgray;
  background-color: #212529;
  color: #F8F9FA;
}

.library {
  margin-top: 90px;
  margin-bottom: 30px;
  width: 80%;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
}

img {
  width: 100%;
}

.card {
  width: 300px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  background-color: #343A40;
  color: #F8F9FA;
}

.card h3 {
  width: 90%;
  overflow: auto;
  /* margin-top: 10px; */
  margin-left: 12px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h3::-webkit-scrollbar {
  display: none;
}

.info {
  width: 90%;
  margin-left: 12px;
}

.info p, .info button {
  margin-bottom: 7px;
}

.info b {
  font-weight: 600;
}

.info .info-buttons {
  display: flex;
  justify-content: start;
}

dialog {
  justify-self: center;
  align-self: center;
  border: none;
  padding: 40px 20px;
  background-color: #212529;
  color: #F8F9FA;
  border-radius: 8px;
}

dialog img {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 85%;
  bottom: 90%;
}

.info img {
  height: 30px;
  width: 30px;
  margin-left: 60%;
}

.info div {
  display: flex;
  color: #E9ECEF;
}

.info div p {
  margin-left: 10px;
}

header div button {
  font-size: 16px;
  /* height: 40px; */
  width: 90px;
  font-weight: 600;
}

button {
  background-color: #6C757D;
  color: #F8F9FA;
  border: none;
  width: 80px;
  height: 35px;
  border-radius: 7px;
}

form {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  width: 80%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

form #read-div {
  flex-direction: row;
  align-items: center;
}

form #read-div input {
  width: 20px;
  margin-left: 10%;
}

form div input, form div select {
  border-radius: 8px;
  height: 30px;
  border: none;
  background-color: #495057;
  color: #F8F9FA;
  padding-left: 10px;
  outline: none;
}

form div #submit-button {
  background-color: #495057;
  color: #F8F9FA;
  font-weight: 600;
  font-size: 16px;
  border: none;
  height: 35px;
}


/* blurs background when dialog is open */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 400px) {
  header {
    width: 100%;
    justify-content: space-around;
  }
}


/* Photo by <a href="https://unsplash.com/@codioful?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Codioful (Formerly Gradienta)</a> on <a href="https://unsplash.com/photos/a-blurry-image-of-a-multicolored-background-gEZkP23pLZ4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   */

/* Photo by <a href="https://unsplash.com/@codioful?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Codioful (Formerly Gradienta)</a> on <a href="https://unsplash.com/photos/purple-light-on-green-background-l7pbhh64CIk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
